{% extends "base.html.twig" %}

{% block title %}myPlaces{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div id="root">

    </div>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
